/* your styles go here */
.img-solo {
  margin-top: 40px;
}

.img-intext {
  margin-top: 2.7em;
  margin-bottom: 3.6em;
}

.img-withspace {
  margin-top: 2.7em;
  margin-bottom: 3.6em;
}

.img-default {
  margin-top: 2.7em;
  margin-bottom: 3.6em;
}

.img-narrowspace {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.img-narrow {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.img-t-narrow {
  margin-top: 1.2em;
  margin-bottom: 3.6em;
}

.img-b-narrow {
  margin-top: 2.7em;
  margin-top: 1.2em;
}

.photo-caption {
  margin-top: 1.8em;
  margin-bottom: 1.2em;
  line-height: 1.8;
}

.photo-caption-center {
  margin-top: 1.8em;
  margin-bottom: 1.2em;
  line-height: 1.8;
  text-align: center;
}

.img-pf-photo-33 {
  max-width: 32%;
}

.img-pf-photo-50 {
  max-width: 49%;
}
.img-pf-photo-75 {
  max-width: 74%;
  margin: 0 auto;
}

.img-cv {
  margin-top: 30px;
  margin-bottom: 20px;
}

.video {
  margin-top: 30px;
}

.content-column-content p.credit-single {
  font-size: 14px;
  color: #888888;
}

.text-center {
  text-align: center;
}

.box-masonry-desription a {
  color: #000000;
  text-decoration: none;
}

.box-masonry-hover-text-header h4, .box-masonry-text h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* disqus */
.disqus {
margin-top: 6em;
margin-bottom: 2.4em; 
}

/* carousel custom*/
.owl-carousel {
  position: relative;
  margin-top: 3.3em;
  margin-bottom: 3.5em; 
}
.owl-prev,
.owl-next {
position: absolute;
top: 40%;
margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    background: #ff7473;
    opacity: 0.3;
    border-radius: 5px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background:#ff7473;
	opacity: 1.0;
	color:#FFF;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background: #ff7473;
}