/* your styles go here */
.img-solo {
  margin-top: 40px;
}

.img-intext {
  margin-top: 25px;
}

.img-pf-photo-33 {
  max-width: 32%;
}

.img-pf-photo-50 {
  max-width: 49%;
}
.img-pf-photo-75 {
  max-width: 74%;
}

.img-cv {
  margin-top: 30px;
  margin-bottom: 20px;
}

.video {
  margin-top: 30px;
}

.content-column-content p.credit-single {
  font-size: 14px;
  color: #999999;
}

.pf-caption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.box-masonry-desription a {
  color: #000000;
  text-decoration: none;
}

.box-masonry-hover-text-header h4, .box-masonry-text h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* carousel custom*/
.owl-carousel {
position: relative;
margin-top: 25px;
margin-bottom: 40px;
}
.owl-prev,
.owl-next {
position: absolute;
top: 40%;
margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    background: #ff7473;
    opacity: 0.7;
    border-radius: 5px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background:#ff7473;
	opacity: 1.0;
	color:#FFF;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background: #ff7473;
}