@font-face {
font-family: 'klavika-400';
  src: url('../font/klavika-regular.woff') format('woff'), 
  url('../font/klavika-regular.ttf')  format('truetype');
}

@font-face {
font-family: 'klavika-700';
  src: url('../font/klavika-bold.woff') format('woff'), 
  url('../font/klavika-bold.ttf')  format('truetype');
}

@font-face {
font-family: 'klavika-600';
  src: url('../font/klavika-medium.woff') format('woff'), 
  url('../font/klavika-medium.ttf')  format('truetype');
}

@font-face {
font-family: 'klavika-cond-300';
  src: url('../font/klavika-light-cond.woff') format('woff'), 
  url('../font/klavika-light-cond.ttf')  format('truetype');
}

@font-face {
font-family: 'klavika-cond-700';
  src: url('../font/klavika-bold-cond.woff') format('woff'), 
  url('../font/klavika-bold-cond.ttf')  format('truetype');
}