/* Scafford */
html,
body
{
    font-family: 'usual','klavika-400','Open Sans','HelveticaNeue-Light','Arial','Verdana','Roboto-Light',sans-serif;
    font-size: calc(35% + 1vw); /* 1em */
    font-weight: 400;
    /*letter-spacing: 0.05em;*/
    line-height: 1.75em;

    top: 0;
    left: 0;

    overflow-x: hidden;

    margin: 0;

    color: #e0e0e0;
    background-color: #070831;

    -webkit-font-smoothing: antialiased;
}

@media (max-width: 767px)
{
    html,
    body
    {
        font-size: calc(80% + 1vw); /* 1em */
    }
}

/* type */
h1,
.h1
{
    font-family: 'Usual','klavika-700', 'Poppins';
    font-size: 3em;
    font-weight: 700;
    line-height: 1.25em;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: -.01em;

    color: #fff;
}

h2,
.h2
{
    font-family: 'klavika-400','Usual';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: .25em;

    letter-spacing: .05em;

    color: #fff;
}
h2.welcome-h2
{
    font-size: 1.5em;
    /*padding-top: 1.5em; */
    line-height: 1.5em;
}

h3
{
    font-family: 'klavika-400','Usual','Space Mono';
    font-size: 1em;
    font-weight: 600;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5em;

    letter-spacing: .08em;

    color: #ff7473;
}

h4
{
    font-family: 'Usual','klavika-700', 'Poppins';
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.25;

    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
    letter-spacing: .02em;
    text-transform: uppercase;

    color: #fff;
}

h5.list
{
    font-size: .7em;
    font-weight: 400;
    line-height: 1.0em;

    font-family: 'klavika-400','Usual','Space Mono';

    margin-top: 1em;
    margin-bottom: .4em;
    padding-bottom: 0;

    letter-spacing: .08em;
}

h5.list.black
{
    margin-top: .6em;

    color: #e0e0e0;
}

h5.list.red
{
    font-weight: 600;

    color: #ff7473;
}

h6
{
    font-family: 'klavika-400','Usual', 'Poppins';
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .08em;
}

ul li
{
    font-size: 1em;
    line-height: 1.75em;

    padding-bottom: 0.5vh;

    list-style-type: none;

    color: #e0e0e0;
}

ul li:before
{
    /*font-family: 'FontAwesome';*/

    margin: 0 20px 0 -30px;

    content: '>';

    color: #ff7473;
}

.sidebar-menu p.active a
{
    font-weight: bold;

    color: #ff7473;
}

/*.sidebar-menu li.active a
{
    font-weight: bold;

    color: #ff7473;
}
.sidebar-menu li.active:before
{
    color: #ff7473;
}*/

p
{
    font-size: .95em;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .02em;

    color: #cccccc;
}
b
{
    font-weight: 600;

    color: #fff;
}

b.strong
{
    font-size: 1.25em;
}

a
{
    text-decoration: none;

    color: #fff;
}
a:hover
{
    color: #ff7473;
}

.welcome-link a
{
    font-size: .9em;
    font-family: 'Usual','Space Mono';
    font-weight: 500;

    right: 0;

    padding: .25em .75em .25em .75em;

    text-decoration: none;

    color: #fff;
    border: 1px solid #ff7473;
    border-radius: 5px;
    background-color: #ff7473;
}

.welcome-link a:hover
{
    /*font-weight: 700;*/
    -webkit-transition: all .1s ease-out;
       -moz-transition: all .1s ease-out;
            transition: all .1s ease-out;

    color: #ff0413;
    background-color: #fff;
}

/* Toppage unique */
/*.bg
{
    position: relative;
    z-index: 0;

    background-image: url('../img/hanabi3.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 20vw 0;
    background-size: 100vw 80vh;
}
.bg::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: rgba(0,0,0,.25);
}*/
.welcome-caption h1
{
    font-family: 'usual','klavika-400';
    font-size: 1.35em;
    font-weight: 400;
    line-height: 2em;

    padding-top: .5em;
    padding-bottom: 0;

    letter-spacing: .01em;

    color: #fff;
} 

.welcome-caption h1.heading {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;

}


/* CONTAINER */
#container
{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

#sidebar-container
{
    display: none;
}
#sidebar-mobile
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: inline;
    overflow-x: hidden;

    width: 100vw;
    height: 60px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;

    border-bottom: 1px solid #e0e0e0;
    background-color: #eee;
}
#barger-menu
{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -50vw; /*メニュー横幅①と合わせる*/

    box-sizing: border-box;
    width: 50vw; /*メニュー横幅①*/
    height: 100%;
    padding: 30px 10px 0 10px; /*メニュー内部上下左右余白*/

    transition: transform .3s linear 0s; /*0.3s は変化するのにかかる時間*/

    background-color: #eee; /*メニュー背景色*/
}
#barger-menu::before
{
    font-size: 40px; /*アイコン（フォント）サイズ*/
    line-height: 50px; /*縦位置中央化*/

    position: absolute;
    top: 0;
    right: 100%;

    display: block;

    width: 50px;
    height: 50px;
    padding: 20px 10px 0 0;

    content: '≡'; /*メニューアイコン*/
    text-align: center;

    color: #333; /*アイコン（フォント）色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    background-color: #eee; /*ボタン部分背景色*/
}
#barger-background
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;

    display: none;

    width: 100%;
    height: 100%;

    transition: all .3s linear 0s; /*0.3s は変化するのにかかる時間*/

    opacity: 0;
    background-color: #333; /*黒背景部分背景色*/
}

/*hover 時の処理*/
#barger-menu:hover
{
    transform: translate(-50vw); /*メニュー横幅①と合わせる*/
}

#barger-menu:hover + #barger-background
{
    z-index: 999;

    display: block;

    opacity: .5; /*黒背景部分透過度*/
}

#barger-menu p.sidebar-p {
    font-size: 0.75em;
    text-align: center;
}

#main-container
{
    margin-top: 100px;
}

@media (min-width: 769px)
{
    #sidebar-mobile
    {
        display: none;
    }
    #sidebar-container
    {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        display: inline;
        overflow-x: hidden;

        width: 9vw;
        height: 100vh; /* 高さが画面の高さと同じ100% */
        padding-top: 2vw;
        padding-right: 2vw;
        padding-left: 2vw;

        background-color: #fff;
    }

    #main-container
    {
        margin-top: 0;
        margin-left: 13vw;
        /*margin-right: 3vw;*/
    }
}

/* SIDEBAR */
.top-logo-div
{
  text-align: center;
    margin: 0 auto 0 auto;
}
.top-logo
{
    width: 3vw;
    margin: 0 auto 0 auto;
}

@media (max-width: 767px)
{
    .top-logo
    {
        width: 40px;
    }

    a {
      color: #fff;
    }
}

.sidebar-heading
{
    font-size: 1em;

    text-transform: uppercase;
}
.sidebar-heading a
{
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
            transition: all .2s ease-out;
    text-decoration: none;

    color: #000;
}
.sidebar-heading a:hover
{
    color: #000;
    border-bottom: dotted 1px #ff7473;
}

.sidebar-p {
  margin: 0 auto 0 auto;

}

.sidebar-p p
{
    font-family: 'klavika-400','Usual','Space Mono';
    font-size: .6em;
    /*padding-left: -7em;*/
    /*width: 20px;*/
    font-weight: 500;
    /*letter-spacing: .02em;*/
    line-height: 1.15em;
    text-align: center;

    margin-top: 0;
    /*margin-left: -0.75em;*/
    /*margin-right: .75em;*/
    margin-bottom: 0;
    /*margin-right: 1vw;*/
    padding-top: 1em;

    color: #9e9e9e;
}
.sidebar-menu
{
    /*padding-left: 1.25vw;*/
    margin-top: 1.25em;

    list-style-type: none;
}/*.sidebar-menu li
{
    font-family: 'Usual','Space Mono';
    font-size: 0.95em;
    line-height: 2.5vh;

    padding-top: 1em;
}
.sidebar-menu li a
{
    text-decoration: none;

    color: #777;
}
.sidebar-menu li:before
{
    /*  font-family: 'FontAwesome';
  content: '\f105';*/
    /*margin: 0 5px 0 -1.65em;

    color: #757575;
}
.sidebar-menu li.active a
{
    font-weight: 400;

    color: #ff7473;
}
.sidebar-menu li.active:before
{
    color: #ff7473;
}
.sidebar-menu li:hover a
{
    font-weight: 400;

    text-decoration: none;

    color: #ff7473;
}
.sidebar-menu li:hover:before
{
    color: #ff7473;
}*/.sidebar-menu p
{
    font-family: 'Usual','Space Mono';
    font-size: 0.95em;
    line-height: 2.5vh;

    padding-top: 1em;
    text-align: center;
}
.sidebar-menu p a
{
    text-decoration: none;

    color: #777;
}
.sidebar-menu p:before
{
    /*  font-family: 'FontAwesome';
  content: '\f105';*/
    margin: 0 5px 0 -1.65em;

    color: #757575;
}
.sidebar-menu p.active a
{
    font-weight: 400;

    color: #ff7473;
}
.sidebar-menu p.active:before
{
    color: #ff7473;
}
.sidebar-menu p:hover a
{
    font-weight: 400;

    text-decoration: none;

    color: #ff7473;
}
.sidebar-menu p:hover:before
{
    color: #ff7473;
}

.sidebar-bottom
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin-bottom: 6vh;
    /*padding-right: 2vw;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* TOPPAGE MAIN CONTENTS */
@media screen and (max-width: 540px)
{
    .row
    {
        flex-wrap: wrap;
    }
}

.top-grid,
.list-grid,
.contact-grid,
.cv-grid,
.single-grid,
.tag-grid,
.tag-specific-grid
{
    display: grid;

    padding: 0 50px 20px 50px;

    grid-template-columns: 1fr;
    grid-row-gap: 40px;
}
.tag-grid
{
    text-align: center;
}
.tag-specific-grid
{
    display: grid;

    padding: 20px 0 20px 0;

    grid-template-columns: 1fr 1fr;
}

.tag-specific-container
{
    text-align: left;

    grid-column: 1 / span 1;
}
.tag-back-container
{
    text-align: left;

    grid-column: 2 / span 1;
}


@media (min-width: 767px)
{
    /*  .top-grid {
    display: grid;
    grid-gap: 0px;
    padding: 0;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
    grid-template-rows: 50px auto auto auto auto auto auto auto auto auto 50px;
    grid-row-gap: 30px;
  }*/

    .top-grid
    {
        display: grid;
        overflow: hidden;

        grid-gap: 0;
        /*padding: 20px 20px 20px 20px;*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .top-container
    {
        position: relative;
        width: 80%;

        padding: 85px 10px 80px 10px;
        /*margin-bottom: -10px;*/

        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }

    /* WORK/PHOTO LIST PAGE */

    .tag-grid
    {
        display: grid;

        grid-gap: 0;
        grid-template-columns: 30px 1fr 40px;
        grid-template-rows: auto;
    }
    .tag-container
    {
        margin-bottom: -10px;
        padding-top: 30px;
        padding-bottom: 10px;

        text-align: center;

        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    .tag-specific-grid
    {
        display: grid;

        padding: 30px 0 0 20px;

        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .tag-specific-container
    {
        margin: 0 auto 0 auto;

        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    .tag-back-container
    {
        grid-row: 1 / span 1;
        grid-column: 3/ span 1;
    }

    .list-grid
    {
        display: grid;

        grid-gap: 0;
        grid-template-columns: repeat(2, minmax(270px, 1fr));
    }

    .list-item
    {
        padding: 20px 10px 40px 10px;
    }

    /* ABOUTME/CONTACT PAGE */
    .contact-grid
    {
        display: grid;
        overflow: hidden;

        padding: 0;

        grid-gap: 0;
        grid-template-columns: 40px 4fr 3fr 40px;
        grid-template-rows: 25px auto auto 75px;
    }
    .contact-container
    {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    /* CV */
    .cv-grid
    {
        display: grid;

        grid-gap: 0;
        grid-template-columns: 2.25vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.25vw;
        grid-template-rows: 4vh auto auto auto 4vh;
    }
    .cv-container
    {
        grid-row: 2 / span 1;
        grid-column: 2 / span 12;
    }

    .cv-myphoto
    {
        padding: 0 2.5vw 0 0;

        grid-row: 3 / span 1;
        grid-column: 2 / span 4;
    }
    .cv-myprofile
    {
        grid-row: 3 / span 1;
        grid-column: 6 / span 8;
    }
    .cv-data
    {
        grid-row: 4 / span 1;
        grid-column: 2 / span 12;
    }

    /* SINGLE PAGE */
    .topimage-grid
    {
        display: grid;
        overflow: hidden;

        padding: 0;

        opacity: .6;

        grid-gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .single-grid
    {
        display: grid;
        overflow: hidden;

        padding: 60px 30px 20px 30px;

        grid-gap: 0;
        grid-template-columns: 5vw 1fr 1fr 5vw;
        grid-template-rows: 0 auto auto auto 4vh;
    }
    .single-container
    {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        margin-bottom: 100px;
    }

    .pagenation-container
    {
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
    }

    .worklist-container
    {
        grid-row: 4 / span 1;
        grid-column: 2 / span 2;
    }
    .single-overview-grid
    {
        display: grid;
        overflow: hidden;

        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .single-overview-grid p
    {
        font-size: .9em;
        line-height: 1.2em;
    }
    .single-overview-grid b
    {
        color: #757575;
    }
    .overview1-container
    {
        padding-left: 20px;

        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .overview2-container
    {
        padding-right: 20px;

        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .single-role-grid
    {
        display: grid;
        overflow: hidden;

        grid-gap: 1em;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }
    .role-container
    {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    .credit-container
    {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
}

.tag-all
{
    font-size: .9em;
    font-weight: 500;

    display: inline;

    margin-right: .4em;

    text-transform: uppercase;
}

.tag-all a.active,
.tag-all a.active:before
{
    color: #fff;
    background-color: #ff7473;
}

.tag-red
{
    font-size: .9em;
    font-weight: 700;

    display: inline-block;

    padding: .25em .75em .25em .75em;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #ff7473;
    border-radius: 5px;
    background-color: #ff7473;
}
.tag-right
{
    font-size: .9em;
    font-weight: 500;

    margin-top: 10px;

    text-align: right;
    text-transform: uppercase;
}
.tag-all a
{
    font-weight: 600;

    display: inline-block;

    margin-bottom: 10px;
    padding: .1em .5em .1em .5em;

    text-decoration: none;

    font-family: 'klavika-400','Usual','Space Mono';
    letter-spacing: .05em;

    color: #ffa4a3;
    border: 1px solid #ff7473;
    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
}
.tag-all a:hover
{
    /*font-weight: 700;*/
    color: #fff;
    background-color: #ff7473;
}
.tag-right a
{
    right: 0;

    padding: .25em .75em .25em .75em;

    text-decoration: none;

    color: #ff0413;
    border: 1px solid #ff7473;
    border-radius: 5px;
}
.tag-right a:hover
{
    /*font-weight: 700;*/
    color: #fff;
    background-color: #ff7473;
}

.img-ingrid
{
    position: relative;

    display: block;

    width: 100%;
    height: auto;
    margin: auto 0 auto 0;
}

figure img
{
    position: relative;

    display: block;

    width: 100%;
    height: auto;
    margin: auto 0 auto 0;
}
article img.fineart
{
    width: 100%;
}

/* TOPPAGE ARRANGEMENTS */

.img-top-feature
{
    position: relative;

    display: block;

    width: 100%;
    height: auto;
}

.img-link
{
    position: relative; /* 相対位置指定 */

    overflow: hidden;
    /*box-shadow: 2px 2px 12px #424242;*/

    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
            transition: all .2s ease-out;
    text-overflow: ellipsis;
}
.img-link .img-link-hover
{
    position: absolute; /* 絶対位置指定 */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: all .4s ease;
            transition: all .4s ease;
    /*animation: AnimationName 7.5s ease infinite;*/

    opacity: 0;  /* マスクを表示しない */
    /*background: linear-gradient(45deg, #cbcb01, #01d0ae, #d10057, #5701a7);*/
    /*background: linear-gradient(45deg, rgba(203,203,1,08), rgba(1,208,174,.8), rgba(209,0,87,.8), rgba(87,1,167,.8));*/
    background-color: rgba(255,255,255,.9);  /* マスクは半透明 */
    /*background-size: 600% 600%;*/
}

/*@keyframes AnimationName
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}*/

.img-link:hover .img-link-hover
{
    opacity: 1;  /* マスクを表示する */
    /*transform: scale(1.03);*/
}

.img-link-caption
{
    padding: 1.5em 2em 0em 1.5em;

    word-wrap: break-word;
}

/*.img-link-hover h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.img-link-hover h4 a {
  color: #fff;
  border-bottom: solid 1px transparent;
  text-decoration: none;
}
.img-link h4 a:hover {
  border-bottom: dotted 1px #ff7473;
  color: #fff;
  text-decoration: none;
}*/

.img-link-text h4
{
    font-weight: 700;

    color: #fff;
}

.img-link .img-link-text a
{
    text-decoration: none;

    color: #fff;
}
.img-link .img-link-text p
{
    font-size: 1em;

    color: #fff;
}
.img-link-text p.desc
{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.35em;
    color: #555;
}

.img-link-text p.desc2
{
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.25em;
    margin-top: 1em;
    color: #757575;
}

.img-link-text p.link
{
    font-size: 1em;
    font-weight: 500;

    padding-top: 2em;

    text-decoration: none;
}
.img-link-text p.link a
{
    font-size: 1.15em;
    font-family: 'klavika-400','Usual','Space Mono';
    font-weight: 500;
    letter-spacing: .02em;

    padding: .25em .75em .25em .75em;

    text-decoration: none;

    color: #ff3473;
    border: 1px solid #ff7473;
    border-radius: 5px;
}
.img-link-text p.link a:hover
{
    /*font-weight: 700;*/
    -webkit-transition: all .1s ease-out;
       -moz-transition: all .1s ease-out;
            transition: all .1s ease-out;

    color: #fff;
    background-color: #ff7473;
}
.img-link-text p.cat
{
    font-size: .75em;
    line-height: 1.375em;

    text-align: right;
}

/* SINGLE PAGE ARRANGEMENTS */
.single-container h1
{
    top: 0;
}

.single-container h2
{
    padding-left: 1.5vw;
    padding-left: 1.5vw;
}
.single-container h3
{
    margin-bottom: -2.75em;
    padding-left: 1.5vw;
    padding-left: 1.5vw;
}
.single-container h6
{
    margin-top: .25em;
    margin-bottom: .5em;
}
.single-container p
{
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}
.single-container p.credit-single
{
    margin-top: 1em;
    padding-left: 0;
    padding-left: 0;
}

.single-container p
{
    padding-top: .5em;
    padding-bottom: 1em;
}

.single-container .single-top
{
    margin: 0;
    padding-top: 0;
    padding-bottom: 2.5em;
}

.single-container .img-ingrid
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.single-title
{
    text-align: center;
}

.img-caption
{
    font-size: .75em;

    margin-top: -.5em;

    text-align: center;
}

.single-title h1
{
    text-transform: uppercase;
}

.single-container black,
.credit-single black
{
    color: #000;
}

.credit-container p
{
    font-size: .9em;
    line-height: 1.25em;
    /*  padding: 10px 10px 10px 20px;
  border-style: dotted;
  border-width: 1px;
  border-color: #ff7473;*/
}

.credit-container p b
{
    font-family: 'klavika-700','Poppins';
    font-weight: 600;
}

.pagenation-contents
{
    padding: 50px 0 20px 0;
}

.pagenation-contents a
{
    font-size: .9em;
    font-weight: 600;

    text-decoration: none;

    color: #fff;
}
.pagenation-contents a:hover
{
    font-weight: 600;

    text-decoration: none;

    color: #ff7473;
    border-bottom: dotted 1px #ff7473;
}

.contact-container h1
{
    padding-bottom: 50px;
}
.contact-container h2
{
    font-size: 15px;
    font-weight: 700;

    padding-top: 50px;
    padding-bottom: 10px;

    color: #000;
}

.cv-container h1
{
    padding-bottom: 5vh;
}

.cv-myprofile p
{
    font-size: 1.25em;
    line-height: 1.5em;

    margin-bottom: 30px;
}

.cv-myphoto .welcome-link
{
    padding: 20px 0 20px 0;
}


/*=====================
SIGN UP FORM
=====================
*/
label
{
    font-size: 14px;
    font-weight: normal;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #fff;
}
.form-control
{
    font-size: 16px;
    line-height: 1.55;

    display: inline-block;

    width: 30%;
    height: 30px;
    padding: 6px 12px;

    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.form-control::-moz-placeholder
{
    opacity: 1;
    color: #999;
}
.form-control:-ms-input-placeholder
{
    color: #999;
}
.form-control::-webkit-input-placeholder
{
    color: #999;
}
.form-control:focus
{
    border-color: #ff7473;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, .6);
}
.form-group
{
    margin-bottom: 20px;
}

.btn-ghost
{
    font-size: 19px;

    margin-top: 20px;
    padding: 10px 20px 10px 20px;

    color: #ff7473;
    border-color: #ff7473;
    background-color: transparent;
}
.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost
{
    color: #ff7473;
    border-color: #ff3736;
    background-color: rgba(0, 0, 0, 0);
    /*font-weight: 700;*/
}
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost
{
    background-image: none;
}
.btn-ghost.disabled,
.btn-ghost[disabled],
fieldset[disabled] .btn-ghost,
.btn-ghost.disabled:hover,
.btn-ghost[disabled]:hover,
fieldset[disabled] .btn-ghost:hover,
.btn-ghost.disabled:focus,
.btn-ghost[disabled]:focus,
fieldset[disabled] .btn-ghost:focus,
.btn-ghost.disabled:active,
.btn-ghost[disabled]:active,
fieldset[disabled] .btn-ghost:active,
.btn-ghost.disabled.active,
.btn-ghost[disabled].active,
fieldset[disabled] .btn-ghost.active
{
    border-color: #ff7473;
    background-color: transparent;
}
.btn-ghost .badge
{
    color: transparent;
    background-color: #ff7473;
}
.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost
{
    color: #fff;
    border-color: #ff7473;
    background-color: #ff7473;
}

@media (max-width: 991px)
{
    .sign-up-form .form-control
    {
        margin-bottom: 20px;
    }
    .sign-up-form .btn
    {
        margin-bottom: 20px;
    }
}
@media (min-width: 769px)
{
    .sign-up-form .form-control
    {
        width: 350px;
    }
}

.pagenation
{
    margin-top: 6em;
    margin-bottom: 2.4em;
}

.left_align
{
    float: left;
}

.center_align
{
    width: 100%;

    text-align: center;
}

.right_align
{
    float: right;
}

.clear
{
    clear: both;
}

.video
{
    margin-top: 30px;
}

.youtube
{
    position: relative;

    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 56.25%;
}
.youtube iframe
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100% !important;
    height: 100% !important;
}

.info-left
{
    float: left;

    text-align: left;
}
.info-right
{
    text-align: right;
}

/* script */
#p5Canvas
{
    display: block;

    margin: 0 auto 0 auto;
}
#p5Canvas-forlist
{
    width: 100%;
    margin-bottom: -10px;
}

iframe.processing
{
    display: block;

    margin: 2em auto 2em auto;
}

/* disqus */
.disqus
{
    margin-top: 6em;
    margin-bottom: 2.4em;
}

.fineart-item
{
    padding: 30px 0 30px 0;
}

.img-75
{
    width: 75%;
    height: auto;
}


.top-slider-container
{
    padding-top: 1em;
}

.slider
{
    padding-top: 1.5em;
}

@media (max-width: 767px)
{
    .slider
    {
        width: 82vw;
    }
}

.slider-fineart
{
    margin-bottom: 2.5em;
}

.slider ul,
.slider ul:before
{
    margin: 0;
    padding: 0;
}

.slider ul li,
.slider ul li:before
{
    padding-bottom: 1em;

    content: none;
}

.bar-multiple-align
{
    display: table;

    width: 100%;
}

.left
{
    display: table-cell;

    text-align: left;
}
.right
{
    display: table-cell;

    text-align: right;
}

.top-image-text p
{
    font-size: 1.5em;
    line-height: 1.5em;

    color: white;

    mix-blend-mode: lighten;
}
.top-image-text b
{
    color: white;
}

.welcome-caption a
{
    text-decoration: underline;
}

p.welcome-caption b
{
    font-weight: 600;

    text-transform: uppercase;
}

ul.slider-item img
{
    position: relative;

    display: block;

    width: 100%;
    height: auto;
    margin: auto 0 auto 0;
}

.filter
{
    background: #000;
}

ul.top-slider img
{
    position: relative;

    display: block;

    width: 100%;
    height: auto;
    margin: auto 0 auto 0;
    /*opacity: 0.6;*/
}

ul.slider-thumb img
{
    position: relative;

    display: block;

    width: 90%;
    height: auto;
    margin: auto 0 auto 0;
}

img.img-50
{
    width: 44%;
    height: auto;
    margin: auto 0 auto 0;
}