html,
body {
  top:0;
  left:0;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  /* Dosisは300,400,600,700 */
  font-family: 'Dosis',"HelveticaNeue-Light","Arial","Verdana","Roboto-Light",sans-serif;
  font-size: calc(35% + 1vw); /* 1em */
  letter-spacing: 0.1em;
  line-height: 1.75em;
  color: #555555;
  font-weight: 300;  
}

@media (max-width: 768px) {
  html, body {
    font-size: calc(80% + 1vw); /* 1em */
  }
}

/* type */
h1, .h1 {
  font-size: 2.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

h2, .h2 {
  font-size: 0.75em;
  color: #000;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3em;
  padding-bottom: 0.5em;  
}
h2.welcome-h2{
  font-size: 1.5em;
  padding-top: 1.5em; 
  line-height: 1.5em; 
}

h4 {
  font-size: 0.75em;
  color: #000;
  text-align: left;
  margin-top:0;
  margin-bottom: 0;
  line-height: 1.0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;  
}

h5.list{
  font-size: 0.6em;
  font-weight: 400;
  margin-top:1.5em;
  margin-bottom: 0.75em;
  padding-bottom: 0; 
  line-height: 1.0; 
}

h5.list.black{
  color: #757575;
  margin-top:0.75em;
}

h5.list.red{
  font-weight: 600;
  color: #ff7473;
}

h6 {
  font-weight: 400;
  font-size: 0.75em;
}

ul li {
  list-style-type: none;
  padding-bottom: 1vh;
  color: #555555;
  line-height: 28px;
}

ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 20px 0 -30px;
  color: #ff7473;
}

.sidebar-menu li.active a {
  color: #ff7473;
  font-weight: bold;
}
.sidebar-menu li.active:before {
  color: #ff7473;
}

p {
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
}
b {
  font-weight: 600;
  color: #000;
}

p.welcome-caption {
  padding-top: 0.5em;
  font-size: 0.9em;
}

p.welcome-caption b{
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ff7473;
}

.welcome-link {
  margin-top: 0.75em;
  padding-top: 1em;
}

.welcome-link a{
  border: 1px solid #ff7473;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.25em 0.75em 0.25em 0.75em;
  text-decoration: none;
  color: #ff0413;

}

.welcome-link a:hover{
 background-color: #ff7473;
 color: #ffffff;
 /*font-weight: 700;*/
 -webkit-transition: all 0.1s ease-out;
 -moz-transition: all 0.1s ease-out;
 transition: all 0.1s ease-out;
}



/* CONTAINER */
#container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#sidebar-container {
display: none;
}
#sidebar-mobile {
    display: inline;
    top:0;
    left: 0;
    padding-top: 30px;
    position: fixed;
    background-color: #eeeeee;
    width: 100vw;
    height: 60px;
    z-index: 100;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e0e0e0;
}
#barger-menu {
    background-color: #eeeeee; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 30px 10px 0 30px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -250px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 250px; /*メニュー横幅①*/
    z-index: 1000;
}
#barger-menu::before {
    background-color: #eeeeee; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 40px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
    padding: 20px 10px 0 0;
}
#barger-background {
    background-color: #333; /*黒背景部分背景色*/
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#barger-menu:hover {
    transform: translate(-250px); /*メニュー横幅①と合わせる*/
}

#barger-menu:hover + #barger-background {
    display: block;
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}

  #main-container {
    margin-top: 100px;
  }
 
@media (min-width: 769px) {
  #sidebar-mobile {
    display: none;
    }
  #sidebar-container {
    display: inline;
    top:0;
    left: 0;
    position: fixed;
    width: 11vw;
    z-index: 1;
    overflow-x: hidden;
    height: 100vh; /* 高さが画面の高さと同じ100% */
    padding-top: 2vw;    
    padding-left: 2vw;
    padding-right: 2vw; 
    background-color: #eeeeee;
    }

  #main-container {
    margin-top:0;
    margin-left: 16vw;
    margin-right: 2.5vw;
    
  }
}

/* SIDEBAR */
.top-logo {
  width: 3vw;
}

@media (max-width: 768px) {
  .top-logo {
    width: 40px;
  }
}

.sidebar-heading {
  font-size: 1em;
  text-transform: uppercase;
}
.sidebar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sidebar-heading a:hover {
  border-bottom: dotted 1px #ff7473;
  color: #000;
}
.sidebar-p {
  color: #757575;
  font-size: 0.9em;
  letter-spacing: .02em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-right: 1vw;
}
.sidebar-menu {
  list-style-type: none;
  padding-left: 1.25vw;
  margin-top: 1.5em;
}
.sidebar-menu li {
  margin-bottom: 0.5em;
  line-height: 2.5vh;
  font-size: 1em;
}
.sidebar-menu li a {
  color: #555555;
  text-decoration: none;
}
.sidebar-menu li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  color: #999999;
}
.sidebar-menu li.active a {
  color: #ff7473;
  font-weight: 600;
}
.sidebar-menu li.active:before {
  color: #ff7473;
}
.sidebar-menu li:hover a {
  text-decoration: none;
  color: #ff7473;
  font-weight: 600;
}
.sidebar-menu li:hover:before {
  color: #ff7473;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 4.5vh;
    padding-right: 2vw;
}

/* TOPPAGE MAIN CONTENTS */
@media screen and (max-width: 540px) {
    .row { flex-wrap: wrap; }
}

.top-grid, .list-grid, .contact-grid, .cv-grid, .single-grid, .tag-grid, .tag-specific-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  padding: 20px 35px 20px 35px;
}
.tag-grid {
  text-align: center;
}
.tag-specific-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0px 20px 0px;
}

.tag-specific-container{
  grid-column: 1 / span 1;
  text-align: left;
} 
.tag-back-container {
  grid-column: 2 / span 1;
  text-align: left;
}


@media (min-width: 769px) {
  .top-grid {
    display: grid;
    grid-gap: 0px;
    padding: 0;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
    grid-template-rows: 50px auto auto auto auto auto auto auto auto auto 50px;
    grid-row-gap: 30px;
  }

  .top-item {
    background: #ddd;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #ccc;
  }

  .top-message-container {
    grid-row: 2 / span 1;
    grid-column: 4 / span 9; 
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: right;
  }

  .top-work1-container {
    grid-row: 3 / span 2;
    grid-column: 3 / span 6;
  }

  .top-work2-container {
    grid-row: 4 / span 2;
    grid-column: 10 / span 4;
    margin: auto 0 auto 0;
  }

  .top-work3-container {
    grid-row: 6 / span 1;
    grid-column: 2 / span 5;
    margin: auto 0 auto 0;
  }

  .top-towork-container {
    grid-row: 6 / span 1;
    grid-column: 8 / span 5;
  /*  text-align: center; */
  }

  .top-photo1-container {
    grid-row: 7 / span 1;
    grid-column: 4 / span 4;
  }

  .top-photo2-container {
    grid-row: 8 / span 2;
    grid-column: 9 / span 5;
    margin: auto 0 auto 0;
  }

  .top-tophoto-container {
    grid-row: 8 / span 1;
    grid-column: 3 / span 5;
    /*text-align: center;*/
  }

  .top-photo3-container {
    grid-row: 9 / span 2;
    grid-column: 3 / span 4;
    margin: auto 0 auto 0;
  }

  .top-tocontact-container {
    grid-row: 10 / span 1;
    grid-column: 10 / span 4;
    /* text-align: center; */
    margin-top: 30%;
    margin-left: -100px;
  }


  /* WORK/PHOTO LIST PAGE */

  .tag-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 30px 1fr 40px;
    grid-template-rows: auto;
  }
  .tag-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1; 
    padding: 30px 30px 0px 0px;
    margin-bottom: -10px;
    text-align: center;
  }  
  .tag-specific-grid {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1; 
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 30px 0px 0px 20px;
  }  
  .tag-specific-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1; 
    margin: 0 auto 0 auto;
  }
  .tag-back-container {
    grid-row: 1 / span 1;
    grid-column: 3/ span 1; 
  }    

  .list-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }

  .list-item {
    padding: 20px 30px 20px 30px;
  }

  /* ABOUTME/CONTACT PAGE */
  .contact-grid {
    display: grid;
    grid-gap: 0px;
    padding: 0;
    grid-template-columns: 40px 4fr 3fr 40px;
    grid-template-rows: 25px auto auto 75px;
    overflow: hidden;
  }
  .contact-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  /* CV */
  .cv-grid {
    display: grid;
    grid-gap: 0px; 
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: 4vh auto auto auto 4vh;
  }
  .cv-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 12;
  }

  .cv-myphoto {
    grid-row: 3 / span 1;
    grid-column: 2 / span 4;
    padding: 0 2.5vw 0 0;
  }
  .cv-myprofile {
    grid-row: 3 / span 1;
    grid-column: 6 / span 8;
  }
  .cv-data {
    grid-row: 4 / span 1;
    grid-column: 2 / span 12;
  }

  /* SINGLE PAGE */
  .single-grid {
    display: grid;
    grid-gap: 0px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-template-rows: 4vh auto auto auto 4vh;
    overflow: hidden;
  }
  .single-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
  }

  .pagenation-container {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
  }

  .worklist-container {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
  }

}

.tag-all {
  font-size: 0.9em;
  margin-right: 0.25em;    
  font-weight: 500;
  display: inline;
  text-transform: uppercase;
}

.tag-all a.active, .tag-all a.active:before {
  color: #ffffff;
  background-color: #ff7473
}

.tag-red {
  font-size: 0.9em; 
  font-weight: 700; 
  text-transform: uppercase;
  background-color: #ff7473;
  border-radius: 5px;
  padding: 0.25em 0.75em 0.25em 0.75em;
  border: 1px solid #ff7473;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}
.tag-right {
  font-size: 0.9em;    
  font-weight: 500; 
  text-transform: uppercase;
  margin-top: 10px;
  text-align: right;
}
.tag-all a {
  border: 1px solid #ff7473;
  border-radius: 5px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  text-decoration: none;
  color: #ff0413;
  display: inline-block;
  margin-bottom: 10px;
}
.tag-all a:hover{
  background-color: #ff7473;
  /*font-weight: 700;*/
  color: #ffffff;
}
.tag-right a {
  border: 1px solid #ff7473;
  border-radius: 5px;
  padding: 0.25em 0.75em 0.25em 0.75em;
  text-decoration: none;
  right: 0;
  color: #ff0413;
}
.tag-right a:hover{
  background-color: #ff7473;
  /*font-weight: 700;*/
  color: #ffffff;
}

.img-ingrid {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto 0 auto 0;
}

figure img {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto 0 auto 0;
}
article img.fineart {
  width: 100%;
}

article img.img-50 {
  width: 44%;
  height: auto;
  padding-left: 25%;
  margin: auto 0 auto 0;
}

/* TOPPAGE ARRANGEMENTS */


.img-top-feature {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.img-link {
  overflow:   hidden;
  position:   relative; /* 相対位置指定 */
  box-shadow: 8px 8px 10px #ccc;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-overflow: ellipsis;
}
.img-link .img-link-hover {
  width:      100%;
  height:     100%;
  position:   absolute; /* 絶対位置指定 */
  top:      0;
  left:     0;
  opacity:    0;  /* マスクを表示しない */
  background-color: rgba(255,255,255,0.9);  /* マスクは半透明 */
  -webkit-transition: all 0.4s ease;
  transition:   all 0.4s ease;
  /*background: linear-gradient(45deg, #cbcb01, #01d0ae, #d10057, #5701a7);*/
  background: linear-gradient(45deg, rgba(203,203,1,08), rgba(1,208,174,.8), rgba(209,0,87,.8), rgba(87,1,167,.8));
  background-size: 600% 600%;
  animation: AnimationName 7.5s ease infinite;
  position: absolute;
  z-index: 2;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.img-link:hover .img-link-hover {
  opacity: 1;  /* マスクを表示する */
  /*transform: scale(1.03);*/
}

.img-link-caption {
  padding: 1.25em;
  word-wrap : break-word;
}

/*.img-link-hover h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.img-link-hover h4 a {
  color: #fff;
  border-bottom: solid 1px transparent;
  text-decoration: none;
}
.img-link h4 a:hover {
  border-bottom: dotted 1px #ff7473;
  color: #fff;
  text-decoration: none;
}*/

.img-link-text h4{
  font-weight: 700;
  color: #ffffff;
}

.img-link .img-link-text a{
  text-decoration: none;
  color: #ffffff;
}
.img-link .img-link-text p {
  color: #fff;
  font-size: 1em;
}
.img-link-text p.desc{
  padding-top: 0.25em;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.5em;
}

.img-link-text p.link{
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding-top: 1em;
}
.img-link-text p.link a{
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.25em 0.75em 0.25em 0.75em;
  text-decoration: none;
  color: #ffffff;  
}
.img-link-text p.link a:hover{
 background-color: #fff;
 color: #555;
 /*font-weight: 700;*/
 -webkit-transition: all 0.1s ease-out;
 -moz-transition: all 0.1s ease-out;
 transition: all 0.1s ease-out;
}
.img-link-text p.cat{
  text-align: right;
  font-size: 0.75em;
  line-height: 1.375em;
}

/* SINGLE PAGE ARRANGEMENTS */
.single-container h1 {
  top:0;
}

.single-container h2 {
  padding-left: 1.5vw;
  padding-left: 1.5vw; 
}
.single-container h6 {
  margin-top: 10px;
  margin-bottom: 20px;  
}
.single-container p {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.single-container p.credit-single {
  padding-left: 0;
  padding-left: 0;
  margin-top: 1em;
}


.single-container .img-ingrid {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.single-container black, .credit-single black {
  color: #000;
}

.pagenation-contents {
  padding: 50px 0 20px 0;
}

.pagenation-contents a{
  text-decoration: none;
  color: #555555;
  font-weight: 600;
  font-size: 0.9em;
}
.pagenation-contents a:hover {
  border-bottom: dotted 1px #ff7473;
  color: #ff7473;
  font-weight: 600; 
  text-decoration: none;
}

.contact-container h1 {
  padding-bottom: 50px;
}
.contact-container h2 {
  font-size: 15px;
  font-weight: 700;
  color: #000;  
  padding-top: 50px;
  padding-bottom: 10px;
}

.cv-container h1 {
  padding-bottom: 5vh;
}

.cv-myphoto img {
  box-shadow: 8px 8px 10px #ccc;
}


=====================
SIGN UP FORM
=====================

/* forms.less */
label {
  font-weight: normal;
  color: #555555;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.55;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control:focus {
  border-color: #ff7473;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, 0.6);
}
.form-group {
  margin-bottom: 20px;
}

.btn-ghost {
  color: #ff7473;
  background-color: transparent;
  border-color: #ff7473;
  font-size: 19px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}
.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost {
  color: #ff7473;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ff3736;
  /*font-weight: 700;*/
}
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost {
  background-image: none;
}
.btn-ghost.disabled,
.btn-ghost[disabled],
fieldset[disabled] .btn-ghost,
.btn-ghost.disabled:hover,
.btn-ghost[disabled]:hover,
fieldset[disabled] .btn-ghost:hover,
.btn-ghost.disabled:focus,
.btn-ghost[disabled]:focus,
fieldset[disabled] .btn-ghost:focus,
.btn-ghost.disabled:active,
.btn-ghost[disabled]:active,
fieldset[disabled] .btn-ghost:active,
.btn-ghost.disabled.active,
.btn-ghost[disabled].active,
fieldset[disabled] .btn-ghost.active {
  background-color: transparent;
  border-color: #ff7473;
}
.btn-ghost .badge {
  color: transparent;
  background-color: #ff7473;
}
.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost {
  color: #fff;
  background-color: #ff7473;
  border-color: #ff7473;
}

@media (max-width: 991px) {
  .sign-up-form .form-control {
    margin-bottom: 20px;
  }
  .sign-up-form .btn {
    margin-bottom: 20px;
  }
}
@media (min-width: 769px) {
  .sign-up-form .form-control {
    width: 350px;
  }
}

.pagenation {
margin-top: 6em;
margin-bottom: 2.4em; 
}

.left_align {
  float: left;
}

.center_align {
  width: 100%;
  text-align: center;
}

.right_align {
  float: right;
}

.clear {
    clear:both;　/*floatの解除、ここがポイント*/
}

.video {
  margin-top: 30px;
}

.youtube {
  position: relative;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 56.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/* RESPONSIVE 
@media screen and (min-width: 992px) {
  .sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 400px) {
  #sidebar-container {
    position: relative;
    display: none;
  }
  #main-container {
  margin-left: 0;
  }
  .top-grid {
    grid-template-columns: 1fr;
  }
}/*

/* script */
#p5Canvas {
  margin-top: 5vh;
}
#p5Canvas-forlist {
  width:100%;
  margin-bottom: -10px;
}

/* disqus */
.disqus {
margin-top: 6em;
margin-bottom: 2.4em; 
}

.fineart-item {
  padding: 30px 0 30px 0; 
}

.img-75 {
  width: 75%;
  height: auto; 
}



