/*

=====================
SOCIAL LINKS
=====================

*/
.contact-form {
  margin-bottom: 20px;
}
p.social {
  margin-top: 20px;
}

p.social-sidebar {

}

p.social a {
  margin: 0 10px 10px 0;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  border: solid 1px #999999;
  color: #999999;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*
             &.facebook {background-color: #4460ae; border-color: #4460ae;}
             &.gplus {background-color: #c21f25; border-color: #c21f25;}
             &.twitter {background-color: #3cf; border-color: #3cf;}
             &.instagram {background-color: #cd4378; border-color: #cd4378;}
             &.email {background-color: #4a7f45; border-color: #4a7f45;}
             &.link {background-color: #871AFF; border-color: #871AFF;}
             */
}
p.social a:hover {
  color: #ff7473;
  border-color: #ff7473;
}
p.social a i {
  vertical-align: bottom;
  line-height: 40px;
}
p.social.social--outline a {
  background: transparent;
}
p.social.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}
p.social.social--outline a.gplus {
  color: #c21f25;
  border-color: #c21f25;
}
p.social.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}
p.social.social--outline a.instagram {
  color: #cd4378;
  border-color: #cd4378;
}
p.social.social--outline a.email {
  color: #4a7f45;
  border-color: #4a7f45;
}
p.social.social--outline a.link {
  color: #871AFF;
  border-color: #871AFF;
}
p.social.social--big a {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  font-size: 25px;
}
p.social.social--big i {
  line-height: 60px;
}