#social-icon-white a {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 0;
  color: #333;
}
#social-icon-white i {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #999;
  border-radius: 20%;
  line-height: 20px;
  text-align: center;
}
#social-icon-white i:before { padding 0; line-height: 20px; }
#social-icon-white a:hover i { background: #ddd; }

.contact-sns-list ul {
  list-style-type: none;
  border:none;
  margin-left: -2.5em;
}

.contact-sns-list li {
        float:left;
}

#contact-sns a {
  display: block;
  float: left;
  margin: 0 10px 5px 0;
  padding: 0;
  color: #333;
}
#contact-sns i {
  width: 40px;
  height: 40px;
  margin: 0;
  border: 1px solid #999;
  border-radius: 20%;
  line-height: 20px;
  text-align: center;
}
#contact-sns i:before { padding 0; line-height: 40px; }
#contact-sns a:hover i { background: #ddd; }

.clear {
        clear:both;
    }