{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}

<section class="container content-section text-left" id="blog-single">
    <div class="row no-gutter index-blog-box col-sm-10 col-sm-offset-1">
        <div class="row">
            <i class="fa fa-pencil-square-o fa-2x section-title"></i>
            <h3 class="section-title">{{ .Title }}</h3>
        </div>
        <div class="row">
            <h4 class="text-right text-muted">
                <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            </h4>
            {{ partial "single_tag.html" . }}
        </div>
        <div class="row blog-content">
        	<p>{{ .Content }} </p>
        </div>
        <div class="row">
            <h4 class="text-right">> <a href="{{ .Site.BaseUrl }}/blog/">Back to Blog Posts List</a></h4>
        </div>
        {{ partial "disqus.html" . }}
    </div>              
</section>

{{ partial "footer.html" . }}