{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ $pagination := 20 }}

<section class="container content-section text-left" id="blog-list">
    <div class="row no-gutter index-blog-box col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-star-o fa-2x section-title"></i>
                <h3 class="section-title">Related Posts</h3>
            </div>
        </div>
        <div class="row">
            {{ range first $pagination .Data.Pages}}
            {{ if eq .Section "blog"}}
            <div class="blog-summary">            
                <div class="col-sm-8">
                    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-right text-muted">
                        <small>{{ .Date.Format "Jan 2, 2006" }}</small>
                    </h4>
                </div>
                <!--
                <div class="col-sm-6">
                <p>{{ .Summary }} </p>                
                </div>
            -->
                <div class="col-sm-12 pull-right">
                    {{ partial "single_tag.html" . }}
                </div>                
            </div> 
            {{ end }}
            {{ end }}
        </div>
    </div>                      
</section>

{{ partial "footer.html" . }}