{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <section id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center about-title">
                    <i class="fa fa-user fa-2x section-title"></i>
                    <h3 class="section-title">{{ .Title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/asakusa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1984</h4>
                                    <h4 class="subheading">Born in Asakusa, Tokyo, Japan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born in 1984 in Asakusa, Tokyo, Japan.<br/>Asakusa is traditional Japanese city and I love here. I would like to contribute to this city in future.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/todai.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2007</h4>
                                    <h4 class="subheading">B.E. the University of Tokyo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I held Bachelor of Engineering(Information & Communication Engineering), the University of Tokyo in 2007. I was curious about an interaction between human and computers. I had researched a brand-new human interface through my academic carrer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/todai2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2009</h4>
                                    <h4 class="subheading">M.I Grad. School of the Univ. of Tokyo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I held Master of Interdisciplinary Information Studies, Graduate School of Interdisciplinary Information Studies, the University of Tokyo in 2009. My work "<a href="https://www.youtube.com/watch?v=W52p0VpBDpU">LimpiDual Touch</a>" won the Good Design Award in 2008 and also received Young Researcher Award of Human Interface Society in 2009.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ibm.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2009-</h4>
                                    <h4 class="subheading">UX Designer at IBM Japan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined IBM in 2009 as a consultant and have experienced global projects and leadership positions for various industries in the User Centered Design discipline. I can propose and build cutting-edge web interactions through rapid cycles of prototyping. In 2012, I was selected for IBM Japan Technology Leading talents. I am passionate about innovation of clients through service design.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/parsons.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">Graphic Design course in Persons, NY, US</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I will take a summer intensive course of graphic design and service design in Parsons the new school of design. Polishing my creative skill, I would like to be a director who has business, design and engineering capabilities.
                                    </p>
                                </div>
                            </div>
                        </li>                       
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-diamond fa-5x about-img-margin"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Awards and Honors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    • Selected for Student Research Competition, ACM SIGGRAPH Research Posters, 2008<br/>
                                    • Good Design Award, Japan, 2008<br/>
                                    • Young Researcher Award of Human Interface Society, Japan, 2009<br/>
                                    • Certified Human Centered Design(HCD) Specialist, Japan, 2014
                                    </p>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/me.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                 <div class="timeline-heading">
                                    <h4>My Journey is going on!!</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{{ partial "footer.html" . }}