<!-- About Section -->
<section id="about-index">
	<div class="container content-section text-center">
		<div class="row">
			<div class="about-index-box col-lg-8 col-lg-offset-2">
				<div class="about-index-title">
					<i class="fa fa-user fa-2x section-title"></i>
					<a href="about/me">
						<h3 class="about-index-box section-title">About Me</h3>
					</a>
				</div>
				<h4>User Experience Designer @IBM Design</h4>
				<h4>Photographer, Creative Thinker</h4>
			</div>
		</div>
	</div>
</section>