<section class="no-padding" id="blog-index">
    <div class="container content-section">
        <div class="row no-gutter index-blog-box col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-8">
                    <i class="fa fa-pencil-square-o fa-2x section-title"></i>
                    <h3 class="section-title">Recent Blog Post</h3>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-right"><a href="blog/">> All Posts</a></h4>
                </div>
            </div>
            <div class="row">
                {{ range first 5 .Data.Pages}}
                {{ if eq .Section "blog"}}
                    <div class="col-sm-8">
                        <h4 class="index-inline-box"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="text-right text-muted">
                            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
                        </h4>
                    </div>
                {{ end }}
                {{ end }}
            </div>
        </div>                      
    </div>
</section>