body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding-left: 2em;
}

.l-box-portfolio {
    margin-top: -1em;
}

.portfolio-title {
    background-color: #222;   
}

.portfolio-title h1{
    font-size: 42px;
    color: #fff;
    padding-left: 0;
    margin-top: 0.3em;
}


.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.photo-box-thin {
    height: 120px;
}


    .photo-box img {
        max-width: 100%;
        height: auto;
        min-height: 250px;
    }

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(60,60,60,0) 0%, rgba(100,100,100,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,0)), color-stop(90%,rgba(100,100,100,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(60,60,60,0) 0%,rgba(100,100,100,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(60,60,60,0) 0%,rgba(100,100,100,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(60,60,60,0) 0%,rgba(100,100,100,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(60,60,60,0) 0%,rgba(100,100,100,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */
        -webkit-transition: .3s;
        transition: .3s;
        z-index: 2;
        bottom: -60px;
    }

    .photo-box aside span {
        color: #fff;
    }

        .photo-box aside span a {
            color: #fff;
            text-decoration: none;
        }

.photo-box:hover aside {
    bottom: 0;
}

.text-box {
    background: #fff; /* bluish grey */
    color: #ff2d2d; /* steel blue */
}


    .text-box-head {
        color: #333;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        font-size: 52px;
        margin: 0;
        padding-top: 0.2em;
    }

    .text-box-portfolio-head {
        color: #333;
        margin-top: 1em;
        margin-bottom: -0.3em;
        padding-left: -2em;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-size: 40px;
        text-align: center;
    }

    .text-box-subhead {
        font-weight: 300;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        font-size: 28px;
        margin-top:0.4em;
    }

.cv-back {
    background: url(../../img/cv.jpg) no-repeat;
    background-size: cover;
}
.cv-text-back {
    background-color: #fff;
    opacity: 0.7;
    padding-top:50px;
    color: #333;
    padding-right:30px;
    font-size: 15px;
}

.contact-back {
    background: url(../../img/contact.jpg) no-repeat center center;
    background-size: cover;
}
.contact-text-back {
    margin-top:650px;
    background-color: #fff;
    opacity: 0.7;
    color: #333;
    padding: 5px 0px 5px 40px;
    font-size: 16px;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
    }

    .photo-box-thin {
        height: 250px;
    }
}
