/*
 * -- layout-detail STYLES --
 * This layout-detail consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout-detail`
 */
#layout-detail, #list, #main {
    margin: 0;
    padding: 0;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout-detail over so we can fit the nav + list in on the left */
    #layout-detail {
        padding-left:950px; /* "left col (nav + list)" width */ /* 1050 */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 1000px of the screen */
    #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }

    #list {
        margin-left: -800px; /* 900 */
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #333;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 650px; /* 650 */
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -800px;
        width:800px;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}

.portfolio-text {
    padding: 0em 1.2em 0em 1.2em;
}

    .portfolio-pagination {
        color: #333;
        font-size: 0.688em; /* 11px; */
        border-bottom: 1px solid #eee;
        margin-top: 1.75em;
        padding-bottom: 3em;
    }
        .portfolio-pagination a{
            color: #999;
            text-decoration: none;
        }
        .portfolio-pagination a:hover{
            color: #FF2D2D;
        }
        .portfolio-previous {
            margin-top: 0.25em;
            float: left;
        }
        .portfolio-center {
            width: 2.25em;
            margin:0 auto;
            vertical-align: middle;
        }
            .portfolio-center a:hover img{
                background-color: #FF2D2D;
                filter: alpha(opacity=70);
                -moz-opacity:0.7;
                opacity:0.7;
            }        
            .portfolio-grid {
                width: 2.25em;
                float: left; 
            }
        .portfolio-next {
            margin-top: 0.25em;
            float:right;
        }

    .portfolio-text-head {
        font-size: 2em; /*28px;*/
        margin-top: 0.4em;
        text-align: center;
    }
    .portfolio-text-info {
        color: #999;
        margin-top:-0.7em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #eee;
        font-size: 0.75em; /* 12px; */
        text-align: center;
        line-height: 2;
    } 

    .portfolio-text-section {
        font-size: 1.125em; /* 18px; */
        font-weight: 500;
        text-align: center;
        margin-bottom: -0.1em;
    }
    .portfolio-text-concept {
        font-size: 1.125em; /* 18px; */
        font-weight: 500;
        text-align: center;
        color: #000;
        margin-bottom: 2.75em;
    }   
    .portfolio-text-portdesc {
        color: #333;
        font-size: 0.938em; /* 15px */
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: -0.01em;
        margin-bottom: 3em;
        text-align: justify;
        text-justify: distribute;        
    }

    .portfolio-text-reference {
        color: #999;
        font-size: 0.813em; /* 13px; */
        text-align: center;
        border-top: 1px solid #eee;
        padding-top: 1.5em;
        line-height: 1.1;
        margin-bottom: 2.5em;       
    }
    .portfolio-text-reference a{
        color: #333;
        text-decoration: none;
    }
    .portfolio-text-reference a:hover{
        color: #FF2D2D;
    }

    .portfolio-text-credit-title {
        font-size: 1.125em; /* 18px; */
        color: #999;
        font-weight: 500;
        text-align: center;
        padding-top: 1.2em;
        margin-bottom: 1.5em;
        border-top: 1px solid #eee;
    }   
    .portfolio-text-credit {
        color: #999;
        font-size: 0.75em; /* 12px; */
        text-align: left;
        line-height: 1.1;
    }

    .portfolio-text-award-title {
        font-size: 1.125em; /* 18px; */
        color: #333;
        font-weight: 500;
        text-align: center;
        padding-top: 1.2em;
        margin-bottom: 1.5em;
        border-top: 1px solid #eee;
    }   
    .portfolio-text-award {
        color: #333;
        font-size: 0.813em; /* 13px; */
        text-align: left;
        line-height: 1.2;
    }

/* Photo Block */
.photo-item-first {
    padding: 1.5em 1.2em 3em 4.3em;
}

.photo-item {
    padding: 0.5em 1.2em 3em 4.3em;
}

.photo-item-last {
    padding: 0.5em 1.2em 0.3em 4.3em;
}

.photo-detail {
    overflow: hidden;
    position: relative;
}

    .photo-detail .img-100 {
        width: 100%;
        height: auto;
    }

    .photo-detail .img-80 {
        width: 80%;
        height: auto;
        margin: 0 auto 0 10%;
    }

    .photo-detail .img-60 {
        width: 60%;
        height: auto;
        margin: 0 auto 0 20%;
    }

    .photo-detail .img-50-left{
        width: 48%;
        height: auto;
        padding: 0 1.5% 0 0;
    }
    .photo-detail .img-50-right{
        width: 48%;
        height: auto;
        padding: 0 0 0 1.5%;
    }

    .photo-detail .img-33{
        width: 32%;
        height: auto;
        padding: 0 0% 0 0;
    }
    .photo-detail .img-33-c{
        width: 32%;
        height: auto;
        padding: 0 1% 0 1%;
    }

    .photo-detail .margin{
        margin-bottom: 1.5em;
    }

    .photo-detail p {
        color: #333;
        font-size: 0.875em; /* 14px; */
        text-align: left;
        line-height: 1.5;
    }
    .youtube {
    position: relative;
    height: 0;
    padding: 30px 0 56.25%;
    overflow: hidden;
    }

    .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }

/*
    .photo-detail a:hover img{
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "alpha(opacity=70)";
    }

    .photo-detail aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ 
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 

    }

    .photo-detail aside span {
        color: #fff;
    }

        .photo-detail aside span a {
            color: #fff;
            text-decoration: none;
        }
*/
        
